page-report {
  .content{
   	 background: #f4f4f4;
   }

  .spinner-md-crescent circle{
    stroke: #1976D2 !important;
    stroke-width: 9px !important;
    stroke-dashoffset:10px !important;
  }
  .spinner-md-crescent{
    display: block;
    margin: 50% auto;

  }
  .img-empty{
    width: 50px;
    height: 50px;
    display: block;
    margin: 50% auto;
  }

  .load_morebtn{
    display: block;
    margin: auto;
    box-shadow:none;
  }
  .loadmore_spinner{
    display: block;
    margin: auto;
  }

  .note{
    font-size: 1.0rem;
  }
  .img-wallet{
    width: 40px;
    height: 40px;
  }
  .activity_message{
      font-size: 1.2rem;
  }

}

/*Modal Css code*/
ion-modal.inset-modal {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding: 20vh 10vw;
}
