page-404 {
 .alert-img{
   margin: 30px auto;
   display: block;
   img{
     width: 100px;
     height: 100px;
     margin: auto;
     display: block;
   }
 }
  .note{
    margin: auto;
    display: block;
  }
}
