page-password {
  .content{
    background: #f4f4f4;
  }
  .button{
    box-shadow:none;
    padding: 21px !important;
    opacity: 0.9 !important;
    border-radius: 0px !important;
  }
  .item{
    background: transparent;
  }
  .input-items .input-wrapper{
    border: 1px solid transparent !important;
    border-bottom-color: #a4a4a4 !important;
  }
}
.custom-toast{
  .toast-wrapper{
    background: map-get($colors, danger) !important;
    border-radius: 7px;
    padding: 0 2.6rem;
    width: 90%;
    margin-top: 10px;

  }
  .toast-message{
    font-size: 0.9em !important;
  }
  .toast-button{
    font-size: 0.9em !important;
  }
}
