page-starterpage {
  .round {
    border-radius: 2%;
  }
  .scroll-content {
    overflow: hidden;
  }
  .round-top{
    height: 95%;
  }
  .swiper-pagination-bullet {
    background-color: #a4a4a4;
  }
  .swiper-pagination-bullet-active {
    background-color: #FA3;
    transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  }
  ion-list {
    margin: 0 !important;
  }
  ion-slides,
  .swiper-container
  {
    height: 90%;
    border-radius: 2% 2% 0 0;
  }
  .slider-item {
    height: auto;
    width: 100%;
    background-size: cover;
  }
  .slide-zoom {
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(235, 235, 235, 0.25)) !important;
  }
  .text-wrapper {
    width: 100vw;
    height: 100vh;
  }
  .slide-text {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    font-family: "Segoe UI", "Noto Sans", sans-serif;
    h2{
      font-size: 0.9em;
    }
  }
  .text-center {
    text-align: center;
    color: white;
  }
  .scroll-content {
    border-radius: 2%;
  }
  button.footer-button {
    height: 15%;
    background-color: #578be4;
    bottom: 0px;
    position: absolute;
    margin: 0;
  }
  .img-description{
    width: 100px;
    height: 100px;
  }
}
